<!DOCTYPE html>
<html>
    <head>
        <title>Coracle | Where does your heart live?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
        <link rel="stylesheet" href="/static/css/booking.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="description" content="We can take you to the ends of the earth." />
        <meta name="title" content="Coracle | Where does your heart live?" />
        <meta name="author" content="Three muskateers" />
        <meta charset="UTF-8" />
        <link rel="icon" href="/static/img/icon.png" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href='https://fonts.googleapis.com/css?family=Lato|Clicker+Script' rel='stylesheet' type='text/css' />
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{{ url_for('index') }}"><img src="/static/img/icon-white.png" alt="Coracle"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('AttractionsReviews.attraction_reviews') }}">Attraction Reviews</a>
              </li>
  {% if username %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('Booking.booking') }}">Booking <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('trip.past_trips') }}">Account</a>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Accounts.logout') }}">Log Out</a>
              </li>
  {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Accounts.login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Accounts.signup') }}">Register</a>
              </li>
  {% endif %}
            </ul>
            <span class="navbar-text">
              Adventures don't come without a price.
            </span>
          </div>
        </nav>
        <div id="booking-div" class="container">
           <h3>Live Before You Die. Book a trip today!</h3>
            <form id="booking-form-final" method="post" name="bookingformfinal" autocomplete="off" action="{{ url_for('Booking.process_booking') }}">
               <div class="striped">
                  <h4>Finally, decide where you want to visit.</h4>

                  {% for attraction in attractions %}
                  {% if loop.index % 3 == 1 %}
                    {% if loop.index >= 4 and loop.index % 3 == 1 %}
                      </div>
                    {% endif %}
                      <div class="row">
                    {% endif %}
                      <div class="col-sm-4">
                        <div class="card">
                    {% if attraction.attractionType == 'Zoo' %}
                          <img class="card-img-top" src="/static/img/zoo.svg" alt="Zoo">
                    {% elif attraction.attractionType == 'Museum' %}
                          <img class="card-img-top" src="/static/img/museum.svg" alt="Zoo">
                    {% elif attraction.attractionType == 'Restaurant' %}
                          <img class="card-img-top" src="/static/img/restaurant.svg" alt="Zoo">
                    {% elif attraction.attractionType == 'University' %}
                          <img class="card-img-top" src="/static/img/university.svg" alt="Zoo">
                    {% elif attraction.attractionType == 'Market' %}
                          <img class="card-img-top" src="/static/img/market.svg" alt="Zoo">
                    {% endif %}
                          <div class="card-body">
                            <h5 class="card-title">{{ attraction.name|e }}</h5>
                            <p class="card-text">{{ attraction.description|e }}</p>
                          <input style="text-align: center;" class="attraction-box" type="checkbox" name="attractions[]" value="{{ attraction.Id }}" />
                          </div>
                        </div>
                      </div>
                 {% endfor %}


                  <!--<div class="row">
                      <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="/static/img/icon.png" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <input class="attraction-box" type="checkbox" name="attractions[]" value="attr1" />
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="/static/img/icon.png" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <input class="attraction-box" type="checkbox" name="attractions[]" value="attr2" />
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="/static/img/icon.png" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <input class="attraction-box" type="checkbox" name="attractions[]" value="attr3" />
                          </div>
                        </div>
                      </div>
                    </div>-->
               </div>
               <div class="striped">
                  <h4>Payment</h4>
                   <div class="form-group row">
                        <div class="col-md-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Card Number</div>
                                </div>
                                <input type="text" class="form-control" id="cardnum" placeholder="Debit/Credit Card number" name="cardnum" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">CVV/CVC</div>
                                </div>
                                <input type="text" class="form-control" id="cvv" placeholder="3-Digit Code" name="cvv" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Expiration Date</div>
                                </div>
                                <input type="month" class="form-control" id="expiration" name="expiration" value="2018-01" required />
                            </div>
                        </div>
                       <div class="col-md-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Cardholder Name</div>
                                </div>
                                <input type="text" class="form-control" id="cardholdername" name="cardholdername" placeholder="John Doe" required />
                            </div>
                        </div>
                    </div>
                    <h2 style="text-align: left; color: white;">Total: ${{ cost }}</h2>
               </div>
               <input type="hidden" name="from" value="{{ fromCity }}">
               <input type="hidden" name="to" value="{{ toCity }}">
               <input type="hidden" name="start" value="{{ startDate }}">
               <input type="hidden" name="end" value="{{ endDate }}">
               <input type="hidden" name="numtickets" value="{{ numtickets }}">
               <input type="hidden" name="transport" value="{{ trans }}">
               <input type="hidden" name="accommodation" value="{{ accom }}">
               <input type="hidden" name="cost" value="{{ cost }}">
               <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
        <footer>
            <p>Created by Daniel Mu, Andy Ouyang, Po Yiu Ho. Coracles are boats.</p>
        </footer>

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- <script src="/static/js/booking.js"></script> -->
    </body>
</html>