<!DOCTYPE html>
<html>
    <head>
        <title>Coracle | Where does your heart live?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
        <link rel="stylesheet" href="/static/css/login.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="description" content="We can take you to the ends of the earth." />
        <meta name="title" content="Coracle | Where does your heart live?" />
        <meta name="author" content="Three muskateers" />
        <meta charset="UTF-8" />
        <link rel="icon" href="/static/img/icon.png" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href='https://fonts.googleapis.com/css?family=Lato|Clicker+Script' rel='stylesheet' type='text/css' />
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{{ url_for('index') }}"><img src="/static/img/icon-white.png" alt="Coracle"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('AttractionsReviews.attraction_reviews') }}">Attraction Reviews</a>
              </li>
  {% if username %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Booking.booking') }}">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('trip.past_trips') }}">Account</a>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Accounts.logout') }}">Log Out</a>
              </li>
  {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('Accounts.login') }}">Login <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Accounts.signup') }}">Register</a>
              </li>
  {% endif %}
            </ul>
            <span class="navbar-text">
              Adventures don't come without a price.
            </span>
          </div>
        </nav>
       <div id="signin-div">
            <div id="form">
                <div id="house"><h2>SIGN IN</h2></div>
                <form id="signinform" action="{{ url_for('Accounts.validate_login') }}" method="post" name="signinform">
                    <label for="username">
                        <div class="label-text"><i class="fas fa-envelope fa-lg"></i></div>
                        <input type="text" placeholder="Username" required name="username"/>
                    </label>
                    <label for="password">
                        <div class="label-text"><i class="fas fa-unlock fa-lg"></i></div>
                        <input type="password" placeholder="Password" required name="password"/>
                    </label>
                    <button type="submit" value="submit">Sign in</button>
                </form>
            </div>
        </div>
        <footer>
            <p>Created by Daniel Mu, Andy Ouyang, Po Yiu Ho. Coracles are boats.</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>