<!DOCTYPE html>
<html>
    <head>
        <title>Coracle | Where does your heart live?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
        <link rel="stylesheet" href="/static/css/reviews.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="description" content="We can take you to the ends of the earth." />
        <meta name="title" content="Coracle | Where does your heart live?" />
        <meta name="author" content="Three muskateers" />
        <meta charset="UTF-8" />
        <link rel="icon" href="/static/img/icon.png" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href='https://fonts.googleapis.com/css?family=Lato|Clicker+Script' rel='stylesheet' type='text/css' />
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{{ url_for('index') }}"><img src="/static/img/icon-white.png" alt="Coracle"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('AttractionsReviews.attraction_reviews') }}">Attraction Reviews <span class="sr-only">(current)</span></a>
              </li>
  {% if username %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Booking.booking') }}">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('trip.past_trips') }}">Account</a>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Accounts.logout') }}">Log Out</a>
              </li>
  {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Accounts.login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Accounts.signup') }}">Register</a>
              </li>
  {% endif %}
            </ul>
            <span class="navbar-text">
              Adventures don't come without a price.
            </span>
          </div>
        </nav>
        <div id="search-div">
            <div id="search-bar">
              <h1 style="color: white;">What are you getting yourself into?</h1>
               <form action="{{ url_for('AttractionsReviews.searchReviews') }}" method="post" name="searchform" id="search-form" class="form-inline" autocomplete="off">
                  <div class="input-group mb-2 mr-sm-2 col " autocomplete>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search fa-lg"></i></div>
                    </div>
                    <input type="text" class="form-control" id="searchbar" name="searchbar" placeholder="Look up a city for its attractions and reviews!">
                  </div>
                  <button type="submit" class="btn btn-primary mb-2">Submit</button>
               </form>
               <i class="fas fa-angle-double-down fa-3x bottom"></i>
           </div>
        </div>
        <div id="search-results" class="container"> <!-- DISPLAY: NONE until we have search results -->
        {% if attractions %}
              <h2>Search Results for {{ city|e }}'s Attractions</h2>
        {% endif %}
                {% for attraction in attractions %}
                  {% if loop.index % 3 == 1 %}
                    {% if loop.index >= 4 and loop.index % 3 == 1 %}
                      </div>
                    {% endif %}
                      <div class="row">
                    {% endif %}
                      <div class="col-sm-4"> <!-- THREE COL-SM-4 CLASSES FOR EACH ROW, DANNY -->
                        <div class="card">
                    {% if attraction.attractionType == 'Zoo' %}
                          <img class="card-img-top" src="/static/img/zoo.svg" alt="Zoo">
                    {% elif attraction.attractionType == 'Museum' %}
                          <img class="card-img-top" src="/static/img/museum.svg" alt="Zoo">
                    {% elif attraction.attractionType == 'Restaurant' %}
                          <img class="card-img-top" src="/static/img/restaurant.svg" alt="Zoo">
                    {% elif attraction.attractionType == 'University' %}
                          <img class="card-img-top" src="/static/img/university.svg" alt="Zoo">
                    {% elif attraction.attractionType == 'Market' %}
                          <img class="card-img-top" src="/static/img/market.svg" alt="Zoo">
                    {% endif %}
                          <div class="card-body">
                            <h5 class="card-title">{{ attraction.name|e }}</h5>
                            <p class="card-text">{{ attraction.description|e }}</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ attraction.location|e }}</li>
                            <li class="list-group-item">Rating {{ attraction.rating|e }}</li>
                          </ul>
                          {% set temp = "'s " %}
                          <a href="{{ url_for('AttractionsReviews.view_attraction', AttractionName=city ~ temp ~ attraction.attractionType) }}" class="btn btn-primary">See Reviews</a>
                        </div>
                      </div>
                 {% endfor %}


               <!-- search results here -->
            <!--   <div class="row">--> <!-- ROW DIV CLASS -->
              <!--    <div class="col-sm-4"> -->  <!-- THREE COL-SM-4 CLASSES FOR EACH ROW, DANNY -->
<!--                    <div class="card">
                      <img class="card-img-top" src="/static/img/icon.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Attraction name</h5>
                        <p class="card-text">Attraction description</p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Paris, France</li>
                          <li class="list-group-item">Rating 4.5</li>
                      </ul>
                      <a href="attraction.html" class="btn btn-primary">See Reviews</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <img class="card-img-top" src="/static/img/icon.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Attraction name</h5>
                        <p class="card-text">Attraction description</p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Paris, France</li>
                          <li class="list-group-item">Rating 4.5</li>
                      </ul>
                      <a href="#" class="btn btn-primary">See Reviews</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <img class="card-img-top" src="/static/img/icon.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Attraction name</h5>
                        <p class="card-text">Attraction description</p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Paris, France</li>
                          <li class="list-group-item">Rating 4.5</li>
                      </ul>
                      <a href="#" class="btn btn-primary">See Reviews</a>
-->
                    </div>
                  </div>
                </div>
           </div>
        <footer>
            <p>Created by Daniel Mu, Andy Ouyang, Po Yiu Ho. Coracles are boats.</p>
        </footer>
        
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->

        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/reviews.js"></script>
    </body>
</html>